.scrabbleBoard
  display: grid
  width: 100%
  grid-template-columns: repeat(15, 1fr)

  .headerRowTile
    margin: 0
    text-align: center
    width: 30px
    height: 30px

  .scrabbleTile
    margin: 0
    text-align: center
    width: 30px
    height: 30px
    border: 1px solid green
